body {
  font-family: 'poppins';
}

/*  custom color */
h5,
h2,
h3,
h6 {
  color: #0a2e09;
}

/* hedaer - text h1 */
h1 {
  font-weight: 700;
  font-size: 48px;
}

/* text heeader h2  */
h2 {
  font-size: 48px;
  font-weight: 700;
}

/* text-header h3 */
h3 {
  font-size: 24px;
  font-weight: 500;
}

/* text subtitle  */
p {
  font-weight: 300;
  color: #a5a5a5;
  font-size: 14px;
}

/* padding top section */
.popular-category {
  margin-top: 25px;
}
.motivation,
.popular-class,
.benefits,
.lets-join,
.review,
.tools,
.footer {
  margin-top: 115px;
}

/* custom button large */
.btn-header,
.btn-lg {
  width: 200px;
  background: #ff7751;
  border-radius: 5px;
  color: white;
  font-weight: 300px;
  font-size: 16px;
}

/* Navbar header */
.navbar-brand img {
  max-height: 40px;
}

.navbar {
  background-color: #023933;
  font-size: 16px;
}

.nav-link {
  margin-right: 60px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 300px;
}

.btn-login {
  width: 131px;
  background: #044947;
  border-radius: 5px;
  color: white;
  font-weight: 300px;
  font-size: 16px;
}
.btn-signUp {
  width: 131px;
  background: #ff7751;
  border-radius: 5px;
  color: white;
  font-weight: 300px;
  font-size: 16px;
}
/* end navbar  */

/* Header Jumbotron */
.jumbotron {
  background-color: #023933;
  padding-top: 2rem;
  color: #ffff;
}

.img-interval {
  margin-bottom: -1rem;
}

/* Popular-category */

.card-category {
  width: 165px;
  height: 165px;
  align-items: center;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-category {
  font-size: 14px;
  font-weight: 300;
}

/*  effect shadow Card Class */
.card:hover {
  box-shadow: 0 0 35px rgba(33, 33, 33, 0.2);
  transition: 0.5s;
}

/* Mobile Device */
@media (max-width: 750px) {
  .header-title {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 600;
  }

  .subtitle-header {
    color: #b4d0cd;
    font-size: 12px;
    font-weight: 300;
  }

  .motivation h2 {
    font-size: 28px;
    font-weight: 700;
  }

  .benefits h2 {
    font-size: 38px;
    font-weight: 700;
  }

  .lets-join h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .carousel-h5 {
    font-size: 18px;
  }
}

/* Desktop Device */
@media (min-width: 750px) {
  .header-banner {
    margin-top: 25px;
    font-size: 48px;
    font-weight: 700;
  }

  .subtitle-header {
    color: #b4d0cd;
    font-size: 18px;
    font-weight: 300;
  }
  .carousel-h5 {
    font-size: 24px;
  }
}

/* card kelas popular */
.btn-pemula {
  margin-top: -35px;
  border: #f4f4f4;
  font-size: 14px;
  font-weight: 300;
}

.nama-kelas h6 {
  font-weight: 400;
  font-size: 18px;
}

.harga button {
  width: 114px;
  background: #109f8f;
  border-radius: 5px;
  color: #fff;
}

.img-play {
  font-size: 14px;
  font-weight: 300;
}

.img-bintang {
  font-size: 14px;
  font-weight: 300;
  margin-top: -30px;
  margin-right: 110px;
}

.img-diskusi {
  font-size: 14px;
  font-weight: 300;
  margin-top: -30px;
}

.nama-mentor {
  margin-left: 30px;
}

.btn-explore {
  color: #c4c4c4;
  font-size: 18px;
  font-weight: 300;
}

/* Review member */
.carousel-indicators {
  bottom: -50px;
}

/* footer */
.footer {
  margin-top: 150px;
}

.footer a {
  color: #a5a5a5;
  font-weight: 300;
}

.footer a:hover {
  color: #ff7751;
}
